body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border-top: 4px solid orangered;
  background: #fafafb;
  padding: 10px;
}

.nav-logo {
  grid-column: 1;
  background-image: url("/images/so-logo-2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.5em;
}

.nav-search {
  grid-column: 2;
}

.nav-component {
  grid-column: 3;
}