body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: grid;
}

.question-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border-top: 4px solid #f48024;
  background: #fafafb;
  padding: 10px;
}

.nav-logo {
  grid-column: 1;
  background-image: url("/images/so-logo-2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.5em;
}

.nav-search {
  grid-column: 2;
}

.nav-component {
  grid-column: 3;
}

.question-card {
  display: grid;
  grid-gap: 1em;
  background-color: #fafafb;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  transition: all 0.3s linear;
}

.question-card-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.question-card-tags {
  justify-self: start;
  align-self: center;
  font-style: italic;
  font-weight: 300;
}

.question-card-delete {
  justify-self: end;
  align-self: center;
  font-style: italic;
  font-weight: 300;
  font-size: 0.5em;
}

.question-card-note {
  font-weight: 300;
}

.view-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.view-sort-by {
  justify-self: end;
  align-self: center;
  font-style: italic;
  font-weight: 300;
  font-size: 0.6em;
  margin-right: 2.5em;
}

.view-count {
  margin-left: 2.5em;
}

.view-count-style {
  color: #f48024;
  font-weight: bold;
}

p {
  font-style: italic;
  font-weight: 300;
}

a:link, a:visited {
  text-decoration: none;
  outline: none;
  color: black;
}

a {
  font-size: 1.8em;
}